form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 0px 0px 10px 0px;    
}

button{
    width: 100px;
    height: 40px;
    padding: 5px 5px 5px 5px;
}

textarea {
    width: 300px;
    height: 80px;
    margin-top: 10px;
}